<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sdadgz.web_springboot.mapper.BlogMapper">

    <!--  根据name和title获取blog  -->
    <select id="getBlog" resultMap="BlogMap">
        select *
        from blog b
                 left join img i on b.img_id = i.id
                 left join user u on b.user_id = u.id
        where u.name = #{username}
          and b.title = #{title}
          and !i.is_delete
        order by b.id desc
    </select>

    <!--  根据name获取用户blogs  -->
    <select id="getBlogsByName" resultMap="BlogMap">
        select *
        from blog b
                 left join img i on b.img_id = i.id
                 left join user u on b.user_id = u.id
        where u.name = #{username}
          and !i.is_delete
        order by b.id desc
    </select>

    <!--  根据id获取blogs  -->
    <select id="getBlogsByUserId" resultMap="BlogMap">
        select *
        from blog b
                 left join img i on i.id = b.img_id
                 left join user u on u.id = b.user_id
        where b.user_id = #{userId}
          and !i.is_delete
        order by b.id desc
    </select>

    <!--  正常用户分页  -->
    <select id="getPage" resultMap="BlogMap">
        select *
        from blog b
        left join user u on u.id = b.user_id
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
        </where>
        order by b.id desc
        limit #{startPage},#{pageSize}
    </select>

    <!--  返回map  -->
    <resultMap id="BlogMap" type="Blog">
        <association property="img" javaType="Img"/>
        <association property="user" javaType="User"/>
    </resultMap>
</mapper>
