<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sdadgz.web_springboot.mapper.FileMapper">

    <!--  正常用户分页  -->
    <select id="getPage" resultMap="FileMap">
        select *
        from file f
        left join user u on u.id = f.user_id
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
        </where>
        order by f.id desc
        limit #{startPage}, #{pageSize}
    </select>

    <!--  返回map  -->
    <resultMap id="FileMap" type="File">
        <association property="user" javaType="User"/>
    </resultMap>

</mapper>
