<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sdadgz.web_springboot.mapper.ImgMapper">

    <!--  正常用户分页  -->
    <select id="getPage" resultMap="ImgMap">
        select *
        from img i
        left join user u on u.id = i.user_id
        <where>
            <if test="userId != null">
                i.user_id = #{userId}
            </if>
            and !i.is_delete
        </where>
        order by i.id desc
        limit #{startPage}, #{pageSize}
    </select>

    <select id="getNeverUseImgs" resultType="cn.sdadgz.web_springboot.entity.Img">
        select *
        from img i
        where i.field like CONCAT('%', #{field}, '%')
          and i.id not in (select b.img_id from blog b where b.user_id = #{userId})
          and !i.is_delete
    </select>

    <!--  结果集  -->
    <resultMap id="ImgMap" type="Img">
        <association property="user" javaType="User"/>
    </resultMap>
</mapper>
